
<footer class="footer">
    <div class="container d-flex justify-content-between">
        <span>Copyright &copy; <%= new Date().getFullYear() %> BN Media</span>
        <span><span tabindex="0" data-toggle="tooltip" title="Container: <%= platform.hostname %>">v<%= platform.version %></span> - <%= platform.organization %> - <%= platform.license %></span>

    </div>
</footer>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

