<head>
  <% if(typeof topic != 'undefined'){ %>
  <title><%= topic.title %></title>
  <% }else{ %>
  <title><%= title %></title>
  <% } %>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Name Brand News",
      "url": "https://namebrandnews.com",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://namebrandnews.com/search/?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>

  <% if(typeof topic != "undefined"){ %>
    <script type="application/ld+json">
    { "@context": "https://schema.org",
     "@type": "Article",
     "headline": "<%= topic.title %>",
     "image": "<%= topic.picture %>",
     "author": "<%= topic.owner.firstname %> <%= topic.owner.lastname %>",
     "genre": "<%= topic.section %>",
     "keywords": "<%= topic.tags.join(' ') %>",
    "publisher": {
        "@type": "Organization",
        "name": "NameBrandNews"
      },
     "url": "https://namebrandnews.com",
     "datePublished": "<%= topic.date %>",
     "description": "<%= topic.desc %>",
     "articleBody": "<%= topic.body %>"
     }
    </script>
  <% } %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/custom.css">
  <script src="https://kit.fontawesome.com/4a4edf243a.js"></script>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Teko:500&display=swap" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146403582-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-146403582-1');
  </script>

</head>
