<!doctype html>
<html lang="en">
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container">
    <%
    let buttons = [`<a href="/assignments/grades/${assignment._id}">View Grades</a>`]
    %>
    <%- include("partials/title.ejs", {title: assignment.name, subtitle: `<strong>Due:</strong> ${ new Date(assignment.duedate).toDateString() }&nbsp; <strong>Late:</strong> ${ new Date(assignment.late).toDateString() }`,
    buttons: buttons, backName: "Assignments", backLink: "/assignments"}) %>
    <div class="row">
        <div class="col-12">
            <% if(error != null){ %>
                <div class="alert alert-danger border-danger" role="alert">
                    <% if(error === "TAR_BAD_ARCHIVE"){ %>
                        <a href="/assignments/edit/<%= assignment._id %>" class="no-bs">
                            <div class="d-flex justify-content-between">
                                <span><strong>Upload Failed</strong> The file you upload was not a valid tar file...</span>
                                <span>Click to close this warning</span>
                            </div>
                        </a>
                    <% } %>
                </div>
            <% } %>
            <div class="d-flex justify-content-between">
                <h4 class="">Files</h4>
                <form action="/assignments/edit/<%= assignment._id %>/file/add" method="post"
                      enctype="multipart/form-data">
                    <div class="input-group mb-2">
                        <div class="custom-file mr-1">
                            <input type="file" class="custom-file-input" name="input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01" id="inputGroupFile01Label">Choose
                                file... (*.*)</label>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm" value="Add Files">
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="">
                    <tr>
                        <th scope="col">Filename</th>
                        <th scope="col" style="width: 1em;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% assignment.shared_files.forEach(shared_file => {
                    %>
                        <tr>
                            <td><a href="/file/<%= shared_file._id %>"><%= shared_file.name %></a></td>
                            <td><a href="/assignments/edit/<%= assignment._id %>/file/remove/<%= shared_file._id %>">Remove</a>
                            </td>
                        </tr>
                    <% }); %>
                    <% if(assignment.shared_files.length == 0){ %>
                        <tr>
                            <td>No Files</td>
                            <td></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between">
                <h4 class="">Tests</h4>
                <form action="/assignments/edit/<%= assignment._id %>/tar" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-2">
                        <div class="custom-file mr-1">
                            <input type="file" class="custom-file-input" name="input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01" id="inputGroupFile01Label">Choose
                                file... (*.tar)</label>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm" value="Add tests">
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Inputs</th>
                        <th scope="col">Outputs</th>
                        <th scope="col">Errors</th>
                        <th scope="col">Exit Code</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% assignment.tests.forEach(function(test){
                    %>
                        <tr>
                            <td><a href="/test/<%= test._id %>"><%= test.name %></a></td>
                            <td><%= test.inputs.length %> inputs</td>
                            <td><%= test.outputs.length %> outputs</td>
                            <td><%= test.error.length %> errors</td>
                            <td><%= test.code %></td>
                        </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
</body>

<div id="newtest" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Test</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/assignments/edit/<%= assignment._id %>/single" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" name="testName" placeholder="Name">
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">t.in</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="output" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">t.out</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary pull-right" value="Add Test">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
</html>

<script>
    $('input[type="file"]').change((e) => {
        $('#inputGroupFile01Label').html(e.target.files[0].name);
    });
</script>