<html>
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container">
    <div class="row">
        <a href="/assignments"><i class="fas fa-chevron-left"></i> Assignments</a>
        <div class="col-12">

            <h1><%= assignment.name %></h1>
            <h6>Due <%= new Date(assignment.duedate).toDateString() %></h6>

            <hr>
            <h4 class="d-inline-block">Tests</h4>
            <a class="d-inline-block btn btn-primary btn-sm float-right" data-toggle="modal"
               href="#newtest">Add Test</a>
            <a class="d-inline-block btn btn-primary btn-sm float-right mr-1" data-toggle="modal"
               href="#newtar">Add Tests (tarball)</a>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Inputs</th>
                    <th scope="col">Outputs</th>
                    <th scope="col">Errors</th>
                    <th scope="col">Exit</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                <% assignment.tests.forEach(function(test){
                %>
                    <tr>
                        <td><%= test.name %></td>
                        <td><%= test.inputs.length %> inputs</td>
                        <td><%= test.outputs.length %> outputs</td>
                        <td><%= test.error.length %> errors</td>
                        <td><%= test.code %> exit</td>
                        <td><a href="/assignments/edit/<%= assignment._id %>" class="btn btn-primary btn-sm">Remove</a>
                        </td>
                    </tr>
                <% }); %>

                </tbody>
            </table>


        </div>
    </div>
</div>
</body>

<div id="newtest" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Test</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/assignments/edit/<%= assignment._id %>/single" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" name="testName" placeholder="Name">
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">t.in</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="output" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">t.out</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary pull-right" value="Add Test">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="newtar" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tarball Upload</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/assignments/edit/<%= assignment._id %>/tar" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">*.tar</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary pull-right" value="Add tests">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
</html>
