<!doctype html>
<html lang="en">
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<style>
    .card {
        margin-bottom: 1.5em;
    }
</style>
<body class="preload">
<div class="container">

    <%
    const dropdown = `
    <div class="dropdown ml-2">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
           aria-expanded="false">
            Options
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a href="/assignments/edit/${assignment._id}/assign/${(assignment.assigned) ? 'false' : 'true'}"
               class="dropdown-item ">${(assignment.assigned) ? 'Unassign' :
            'Assign'} ${assignment.name}</a>
            <a href="/assignments/${assignment._id}/delete" class="dropdown-item ">Delete</a>
        </div>
    </div>
        `;
    let buttons = [
        `<a href="/assignments/${assignment._id}/grades" class="mx-1">Grades</a>`,
        dropdown];
    %>
    <%- include("partials/title.ejs", {title: assignment.name, subtitle: `<a href="/">Dashboard</a> / <a href="/assignments">Assignments</a> / ${assignment.name}`,
    buttons: buttons, backName: "Home", backLink: "/"}) %>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <div class="card-title">Required Files</div>
                        <div class="card-subtitle">Files will be required for submission</div>
                    </div>
                    <form action="/assignments/edit/<%= assignment._id %>/files/add" method="post" class="">
                        <div class="d-flex">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Filename">&nbsp;
                            <input type="submit" class="btn btn-primary" value="Add File">
                        </div>
                        <small class="text-muted">Enter multiple with comma delimitation.</small>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table ">
                        <thead class="">
                        <tr>
                            <th scope="col">Filename</th>
                            <th scope="col" style="width: 1em;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% assignment.files.forEach(file => {
                        %>
                            <tr>
                                <td><%= file %></td>
                                <td>
                                    <a href="/assignments/edit/<%= assignment._id %>/files/<%= file %>/remove">Remove</a>
                                </td>
                            </tr>
                        <% }); %>
                        <% if(assignment.files.length == 0){ %>
                            <tr>
                                <td>No Files</td>
                                <td></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% if(error != null){ %>
                <div class="alert alert-danger border-danger" role="alert">
                    <% if(error === "TAR_BAD_ARCHIVE"){ %>
                        <a href="/assignments/edit/<%= assignment._id %>" class="no-bs">
                            <div class="d-flex justify-content-between">
                                <span><strong>Upload Failed</strong> The file you upload was not a valid tar file...</span>
                                <span>Click to close this warning</span>
                            </div>
                        </a>
                    <% } %>
                </div>
            <% } %>
            <div class="card">
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <div class="card-title">Shared Files</div>
                        <div class="card-subtitle">Files will included in compilation</div>
                    </div>
                    <form action="/assignments/edit/<%= assignment._id %>/file/add" method="post"
                          enctype="multipart/form-data">
                        <div class="d-flex pb-3">
                            <div class="custom-file mr-1">
                                <input type="file" class="custom-file-input" name="input" id="inputGroupFile01">
                                <label class="custom-file-label" for="inputGroupFile01" id="inputGroupFile01Label">Choose
                                    file... (*.*)</label>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Add Files">
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table ">
                        <thead class="">
                        <tr>
                            <th scope="col">Filename</th>
                            <th scope="col" style="width: 1em;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% assignment.shared_files.forEach(shared_file => {
                        %>
                            <tr>
                                <td><a href="/file/<%= shared_file._id %>"><%= shared_file.name %></a></td>
                                <td>
                                    <a href="/assignments/edit/<%= assignment._id %>/file/remove/<%= shared_file._id %>">Remove</a>
                                </td>
                            </tr>
                        <% }); %>
                        <% if(assignment.shared_files.length == 0){ %>
                            <tr>
                                <td>No Files</td>
                                <td></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <div class="card-title">Program Tests</div>
                        <div class="card-subtitle">Program must pass all visible tests to be marked complete</div>
                    </div>
                    <form action="/assignments/edit/<%= assignment._id %>/tar" method="post"
                          enctype="multipart/form-data">
                        <div class="d-flex pb-3">
                            <div class="custom-file mr-1">
                                <input type="file" class="custom-file-input" name="input" id="inputGroupFile01">
                                <label class="custom-file-label border-right-1" for="inputGroupFile01"
                                       id="inputGroupFile01Label">Choose
                                    file... (*.tar)</label>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Add tests">
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table ">
                        <thead class="">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Visibility</th>
                            <th scope="col">Inputs</th>
                            <th scope="col">Outputs</th>
                            <th scope="col">Errors</th>
                            <th scope="col">Arguments</th>
                            <th scope="col">Exit Code</th>
                            <th scope="col" style="width: 1em;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% assignment.tests.forEach(function(test){
                        %>
                            <tr>
                                <td><a href="/test/<%= test._id %>"><%= test.name %></a></td>
                                <td><%= (test.hidden) ? "Hidden" : "Visible" %></td>
                                <td><%= test.inputs.length %></td>
                                <td><%= (test.provided.includes("out")) ? test.outputs.length : "Not Provided" %></td>
                                <td><%= (test.provided.includes("err")) ? test.error.length : "Not Provided" %></td>
                                <td><%= (test.provided.includes("cmd")) ? test.arguments : "Not Provided" %></td>
                                <td><%= (test.provided.includes("exit")) ? test.code : "Not Provided" %></td>
                                <td>
                                    <a href="/assignments/edit/<%= assignment._id %>/test/<%= test._id %>/remove">Remove</a>
                            </tr>
                        <% }); %>
                        <% if(assignment.tests.length == 0){ %>
                            <tr>
                                <td>No Tests</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

<div id="newtest" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Test</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/assignments/edit/<%= assignment._id %>/single" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" name="testName" placeholder="Name">
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">t.in</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="output" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">t.out</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary pull-right" value="Add Test">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
</html>

<script>
    $('input[type="file"]').change((e) => {
        $(e.target).siblings("#inputGroupFile01Label").text(e.target.files[0].name);
    });
</script>