<!doctype html>
<html lang="en">
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container">
    <%
    let buttons = [` <a href="/assignments/new" class=""><i class="fas fa-plus"></i>&nbsp;New Assignment</a>`]
    %>
    <%- include("partials/title.ejs", {title: "Assignments", subtitle: courses.map(course => course.assignments.length).reduce((a, b) => a + b) + ` assignments in ${courses.length} classes`,
    buttons: buttons, backName: "Home", backLink: "/"}) %>

    <div class="row">

        <div class="col-12">
            <% courses.forEach((course) => { %>
                <h3><%= course.name %>.<%= course.section %></h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col" class="text-center" style="width: 1em;">Status</th>
                            <th scope="col">Due Date</th>
                            <th scope="col" nowrap>Late Due Date</th>
                            <th scope="col">Submissions</th>
                            <th scope="col">Required Files</th>
                            <th scope="col">Tests</th>
                            <th scope="col" style="width: 1em;"><i class="fas fa-pencil-alt"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% course.assignments.forEach(function(assignment){ %>
                            <tr>
                                <td nowrap><a href="/assignments/<%= assignment._id %>"><%= assignment.name %></a></td>
                                <td class="text-center" nowrap>
                                    <strong><%= (assignment.assigned) ? "Assigned" : "Draft" %></strong></td>
                                <td nowrap><%= assignment.duedate %></td>
                                <td><%= assignment.late %></td>
                                <td><%= assignment.responses.length %></td>
                                <td><%= assignment.files.join(", "); %></td>
                                <td><%- assignment.tests.map(test => `<a href="/test/${test._id}">${test.name}</a>`).join(", ") %></td>
                                <td>
                                    <div class="dropdown text-center">
                                        <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left"
                                             aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item"
                                               href="/assignments/edit/<%= assignment._id %>/assign/<%= (assignment.assigned) ? "false" : "true" %>"><i
                                                        class="fas fa-external-link-alt"></i>&nbsp;<%= (assignment.assigned) ? "Unassign" : "Assign" %>
                                            </a>
                                            <a class="dropdown-item" href="/assignments/grades/<%= assignment._id %>"><i
                                                        class="fas fa-user-edit"></i>&nbsp;Grades</a>
                                            <a class="dropdown-item" href="/assignments/<%= assignment._id %>"><i
                                                        class="fas fa-edit"></i>&nbsp;Edit Assignment</a>
                                            <a class="dropdown-item" href="/assignments/<%= assignment._id %>/delete"><i
                                                        class="fas fa-trash-alt"></i>&nbsp;Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            <% }); %>
        </div>
    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
