<html>
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container">
    <div class="row">

        <a href="/"><i class="fas fa-chevron-left"></i> Home</a>
        <div class="col-12">
            <h1>Assignments</h1>
            <div class="d-flex flex-row justify-content-between">
                <span>All active assignments</span>
                <a href="/assignments/new" class="btn btn-primary btn-sm">New Assignment</a>
            </div>
            <hr>
            <% if(typeof classes != 'undefined'){ classes.forEach(function(clas){ %>
                <h3><%= clas.name %>.<%= clas.section %></h3>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Required Files</th>
                        <th scope="col">Tests</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(typeof clas.assignments != 'undefined'){ clas.assignments.forEach(function(assignment){ %>
                        <tr>
                            <td><%= assignment.name %></td>
                            <td><%= assignment.files %></td>
                            <td><%= assignment.tests.map(test => test.name).join(", ") %></td>
                            <td><a href="/assignments/grades/<%= assignment._id %>" class="btn btn-primary btn-sm">Grades</a>&nbsp;
                                <a href="/assignments/edit/<%= assignment._id %>" class="btn btn-primary btn-sm">Edit Assignment</a>
                            </td>
                        </tr>
                    <% }); } %>
                    </tbody>
                </table>
                <hr>
            <% }); }else{ %>

            <% } %>

        </div>
    </div>
</div>
</body>

</html>
