<html>
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">

            <% if(typeof classes != 'undefined'){ classes.forEach(function(clas){ %>
                <h4 class=""><%= clas.name %></h4>
                <table class="table table-light">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Files</th>
                        <th scope="col">Tests</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(typeof clas.assignments != 'undefined'){ clas.assignments.forEach(function(assignment){ %>
                        <tr>
                            <td><%= assignment.name %></td>
                            <td><%= assignment.files %></td>
                            <td><%= assignment.tests.length %></td>
                            <td><a href="/assignments/grades/<%= assignment._id %>" class="btn btn-primary btn-sm">Results</a>&nbsp;
                                <a href="/assignments/edit/<%= assignment._id %>" class="btn btn-primary btn-sm">Edit</a>
                            </td>
                        </tr>
                    <% }); } %>
                    </tbody>
                </table>
                <hr>
            <% }); }else{ %>

            <% } %>

        </div>
    </div>
</div>
</body>

</html>
