<!doctype html>
<html lang="en">
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container">
    <div class="row">
        <div class="col-12">
        <a href="/"><i class="fas fa-chevron-left"></i> Home</a>
            <h1>Courses</h1>
            <div class="d-flex flex-row justify-content-between">
                <span class="sub-header">Overview of your courses</span>
                <a class="" data-toggle="modal" href="#newClass">New Course</a>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Students</th>
                        <th scope="col">Assignments</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% courses.forEach(function(course){ %>
                        <tr>
                            <td><%= course.name %>.<%= course.section %></td>
                            <td><%= course.code %></td>
                            <td><%= course.students.length %> Students</td>
                            <td>
                                <% course.assignments.forEach(assignment => { %>
                                    <a href="/assignments/grades/<%= assignment._id %>"><span
                                                class="badge badge-dark"><%= assignment.name %></span></a>
                                <% }); %>
                                <%= (course.assignments.length == 0) ? "No assignments" : "" %>
                            </td>
                            <td>
                                <a href="#" class=""><i class="fas fa-users"></i> Manage Students</a>&nbsp;
                                <a href="#" class=""><i class="fas fa-edit"></i> Edit Course</a>
                            </td>
                        </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<div id="newClass" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Course</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/courses" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Section</label>
                        <input type="number" class="form-control" name="section" id="section" placeholder="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary pull-right" value="Create Course">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
</html>
