<!doctype html>
<html lang="en">
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body class="preload">
<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters">
        <div class="col-md-2 pr-2">
            <%- include("partials/sidebar.ejs") %>
        </div>
        <div class="col-md-10">
<div class="container-fluid">
    <%
    let buttons = [`<a href="#" class="text-danger">Delete Course</a>`]
    %>
    <%- include("partials/title.ejs", {title: `${course.name}.${course.section}`, subtitle: `<a href="/">Home</a> / <a href="/courses">Courses</a> / ${course.name}`,
    buttons: buttons, backName: "Home", backLink: "/"}) %>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">Students</div>
                <div class="d-flex justify-content-between">
                    <div class="card-subtitle">All students enrolled in this course</div>
                    <div class="card-subtitle" style="margin-bottom: 8px;">Course join code: <span
                                class="text-monospace text-uppercase"><%= course.code %></span></div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Github</th>
                            <th scope="col" style="width: 1em;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% course.students.forEach(student => { %>
                            <tr>
                                <td><%= student.firstname %> <%= student.lastname %></td>
                                <td><%= student.username %></td>
                                <td><%= student.github %></td>
                                <td><div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" data-boundary="viewport"  aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#"><i class="fas fa-user-times pr-2"></i>Remove from class</a>
                                        </div>
                                    </div></td>
                            </tr>
                        <% }); %>
                        <% if(course.students.length === 0) { %>
                            <tr>
                                <td>No Students</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
</body>
</html>
