<!doctype html>
<html lang="en">
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container">
    <%
    let buttons = [` <a class="" data-toggle="modal" href="#newClass"><i class="fas fa-plus"></i>&nbsp;New Course</a>`]
    %>
    <%- include("partials/title.ejs", {title: "Courses", subtitle: `Instructor ${ user.firstname } ${ user.lastname }`,
    buttons: buttons, backName: "Home", backLink: "/"}) %>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Course / Section</th>
                        <th scope="col" class="text-center" style="width: 1em;">Code</th>
                        <th scope="col">Students</th>
                        <th scope="col">Assignments</th>
                        <th scope="col" style="width: 1em;"><i class="fas fa-pencil-alt"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% courses.forEach(function(course){ %>
                        <tr>
                            <td><%= course.name %>.<%= course.section %></td>
                            <td class="text-center text-monospace"><span
                                        class="text-uppercase"><strong><%= course.code %></strong></span></td>
                            <td><%= course.students.length %> Students</td>
                            <td>
                                <%- course.assignments.map(assignment => `<a href="/assignments/${assignment._id}">${assignment.name}</a>`).join(", ") %>
                            </td>
                            <td>
                                <div class="dropdown text-center">
                                    <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fas fa-users"></i> Manage
                                            Students</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Edit Course</a>
                                        <a class="dropdown-item text-danger" href="/courses/<%= course._id %>/delete"><i class="fas fa-trash-alt"></i> Delete Course</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<div id="newClass" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Course</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/courses" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Section</label>
                        <input type="number" class="form-control" name="section" id="section" placeholder="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary pull-right" value="Create Course">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
</html>
