<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<style>
    body {
    }
</style>
<body class="preload">
<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters">
        <div class="col-md-2 pr-2">
            <%- include("partials/sidebar.ejs") %>
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                <%
                let buttons = [`<span id="saveMessage" class="text-success">&nbsp;</span>`]
                %>
                <%- include("partials/title.ejs", {title: `${workspace.assignment.name}`, subtitle: `<a href="/">Home</a> / <a href="/workspace">Workspaces</a> / ${workspace.assignment.name}`,
                buttons: buttons, backName: "Home", backLink: "/"}) %>
                <div class="row no-gutters">
                    <div class="col-md-9 pr-2">
                        <div class="editor-container">
                            <ul class="nav nav-tabs justify-content-between">
                                <ul class="nav">
                                    <% workspace.files.forEach(file => { %>
                                        <li class="nav-item">
                                            <a class="nav-link <%= (workspace.files.indexOf(file) == 0) ? "active" : "" %>"
                                               onclick="setBuffer('<%= file.name %>')" data-toggle="tab"
                                               href="#<%= file._id %>"><%= file.name %></a>
                                        </li>
                                    <% }); %>
                                </ul>
                                <ul class="nav">
                    <span class="navbar-text text-white mx-2">
                        <a href="#save" class="text-white" onclick="buildSave()"><i class="far fa-save"></i></a>
                    </span>
                                    <span class="navbar-text text-white mx-2">
                            <a href="#" class="text-white"
                               onclick="compileCode()" id="compile"><i class="fas fa-play"></i></a>
                    </span>
                                    <span class="navbar-text text-white mx-2 mr-3">
                            <a href="#" class="text-white" onclick="submitCode()" id="submit"><i
                                        class="fas fa-upload"></i></a>
                    </span>
                                </ul>
                            </ul>
                            <div id="editor"></div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-0">
                            <ul class="nav nav-tabs justify-content-between mb-1">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#nav-tests" role="tab"
                                           aria-controls="nav-status" aria-selected="false">Tests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#nav-output" role="tab"
                                           aria-controls="nav-status"
                                           aria-selected="false">Output</a>
                                    </li>
                                </ul>
                                <ul class="nav">
                                </ul>
                            </ul>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade active show scroll-box p-2" id="nav-tests" role="tabpanel"
                                     aria-labelledby="nav-profile-tab">
                                    <% workspace.assignment.tests.forEach(test => { %>
                                        <div class="card pl-2 py-2 mb-2 ">
                                            <div class="d-flex justify-content-between" id="<%= test._id %>">
                                                <div>
                                                    <span><i class="far fa-dot-circle text-muted mr-2" id="status"></i></span>
                                                    <span><%= test.name %></span>
                                                </div>
                                                <div class="text-muted" id="info">
                                                    Not compiled
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                                <div class="tab-pane fade" id="nav-output" role="tabpanel"
                                     aria-labelledby="nav-contact-tab">
                                    Outputs
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/codemirror/theme/one-dark.css">
<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
<script src="/codemirror/mode/clike/clike.js"></script>
<script>
    let buffers = {};

    function openBuffer(name, content, mode) {
        buffers[name] = CodeMirror.Doc(content, mode);
    }

    <% workspace.files.forEach(file => { %>
    openBuffer("<%= file.name %>", `<%- file.content.join('\n') %>`, 'text/x-c++src');
    <% }); %>

    function setBuffer(name) {
        let oldBuffer = editor.swapDoc(buffers[name]);
    }

    let editor = new CodeMirror(document.getElementById("editor"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-c++src",
        theme: "one-dark"
    });

    setBuffer("<%= workspace.files[0].name %>");

    let saveCache = [];

    function buildSave() {
        <% workspace.files.forEach(file => { %>
        saveCache.push({_id: "<%= file._id %>", content: buffers["<%= file.name %>"].getValue().split('\n')})
        <% }); %>

        $.post('/workspace/<%= workspace._id %>/save', {files: saveCache});
        $("#saveMessage").html(`Last saved: ${new Date().toLocaleTimeString()}`);
        saveCache = [];
    }

    function submitCode() {
        buildSave();
        $('#submit').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Grading...`);
        fetch('/workspace/<%= workspace._id %>/submit')
            .then((response) => {
                response.json().then(data => {
                    $('#submit').html(`<i class="fas fa-upload"></i>`);
                    window.location.href = `/response/${data}`;
                });
            });
    }


    function compileCode() {
        buildSave();
        $('#compile').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Testing...`);
        fetch('/workspace/<%= workspace._id %>/compile')
            .then((response) => {
                response.json().then(data => {
                    updateTests(data.tests);
                });
            });
    }


    function updateTests(testArray) {
        testArray.forEach(test => {
            let root = $(`#${test.test}`);
            let targetDot = root.children(`div`).children('span').children('#status');
            targetDot.removeClass("text-danger text-success text-muted");
            targetDot.addClass(`text-${test.passed ? "success" : "danger"}`);
            let targetInfo = root.children('#info');
            targetInfo.html(`${test.passed ? "Test Passed" : test.error_type}`);
        });
        $('#compile').html(`<i class="fas fa-play"></i>`);
    }

    jQuery(document).keydown(function (event) {
            if ((event.ctrlKey || event.metaKey) && event.which == 83) {
                buildSave();
                event.preventDefault();
                return false;
            }
        }
    );


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</html>
