<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav.ejs") %>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-end">
                <h3>Workspace: <%= workspace.assignment.name %></h3>
                <span id="saveMessage" class="text-success">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-between">
                <ul class="nav">
                     <span class="navbar-text text-white">
                    <i class="fas fa-code"></i>
                    </span>

                    <% workspace.files.forEach(file => { %>
                        <li class="nav-item">
                            <a class="nav-link <%= (workspace.files.indexOf(file) == 0) ? "active" : "" %>"
                               onclick="setBuffer('<%= file.name %>')" data-toggle="tab"
                               href="#<%= file._id %>"><%= file.name %></a>
                        </li>
                    <% }); %>
                </ul>
                <ul class="nav">
                    <span class="navbar-text text-white mx-2">
                        <a href="#save" class="text-white" onclick="buildSave()"><i class="far fa-save"></i></a>
                    </span>
                    <span class="navbar-text text-white mx-2">
                            <a href="/workspace/<%= workspace._id %>/compile" target="_blank" class="text-white" onclick="buildSave()"><i class="fas fa-play"></i></a>
                    </span>
                    <span class="navbar-text text-white mx-2 mr-3">
                            <a href="#save" class="text-white" onclick="buildSave()"><i class="fas fa-upload"></i></a>
                    </span>
                </ul>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="editor"></div>
        </div>
    </div>
</div>
</body>

<script src="/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
<script src="/codemirror/mode/clike/clike.js"></script>
<script>
    let buffers = {};

    function openBuffer(name, content, mode) {
        buffers[name] = CodeMirror.Doc(content, mode);
    }

    <% workspace.files.forEach(file => { %>
    openBuffer("<%= file.name %>", `<%- file.content.join('\n') %>`, 'text/x-c++src');
    <% }); %>

    function setBuffer(name) {
        let oldBuffer = editor.swapDoc(buffers[name]);
    }

    let editor = new CodeMirror(document.getElementById("editor"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-c++src"
    });

    setBuffer("<%= workspace.files[0].name %>");

    let saveCache = [];

    function buildSave() {
        <% workspace.files.forEach(file => { %>
        saveCache.push({_id: "<%= file._id %>", content: buffers["<%= file.name %>"].getValue().split('\n')})
        <% }); %>
        console.log(saveCache);
        $.post('/workspace/<%= workspace._id %>/save', {files: saveCache});
        $("#saveMessage").html(`Last saved: ${new Date().toLocaleTimeString()}`);
        saveCache = [];
    }

    jQuery(document).keydown(function (event) {
            if ((event.ctrlKey || event.metaKey) && event.which == 83) {
                buildSave();
                event.preventDefault();
                return false;
            }
        }
    );


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<%- include("partials/footer.ejs") %>
</html>
