<html>
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container">
    <%
    let buttons = []
    %>
    <%- include("partials/title.ejs", {title: `${assignment.name} Grades`, subtitle: `<strong>Due:</strong> ${ new Date(assignment.duedate).toDateString() }&nbsp; <strong>Late:</strong> ${ new Date(assignment.late).toDateString() }`,
    buttons: buttons, backName: "Back", backLink: back}) %>
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-row justify-content-between">
                <h4>Submissions</h4>
                <div>
                    <a href="/assignments/edit/<%= assignment._id %>" class="btn btn-primary btn-sm">Download CSV</a>
                    <a href="/assignments/edit/<%= assignment._id %>" class="btn btn-primary btn-sm">Download JSON</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>

                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Attempts</th>
                        <th scope="col">Results</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% students.forEach(student => {
                        let attempts = assignment.responses.filter(response => response.student._id.toString() == student._id.toString())
                    %>
                    <tr style="width: 100%;">
                        <td><%= student.firstname %> <%= student.lastname %></td>
                        <td><%= student.username %></td>
                        <td><%= attempts.length %></td>
                        <td>
                            <% attempts.forEach(attempt => {
                                let diff = attempt.outputs.filter(output => output.passed).length;
                                let total = attempt.outputs;
                                let index = attempts.findIndex(attempt_ => attempt_ == attempt) + 1;
                            %>
                            <a href="/response/<%= attempt._id %>">
                            <span class="badge badge-<%= (attempt.passed) ? 'success' : (attempt.signal === "SIGTERM") ? 'warning' : 'danger' %>">Attempt <%= (index <= 9) ? "0" : "" %><%= index %>
                                <% attempt.outputs.forEach(tst => { %>
                                    <span class="badge badge-<%= (tst.passed === true) ? 'success' : (tst.signal === "SIGTERM") ? 'warning' : 'danger' %>"><%= tst.test.name %></span>
                                <% }) %>
                            </span></a>
                            <% }); %>
                        </td>

                    </tr>

                    <%
                    }); %>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
