<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body class="preload">
<div class="container">
    <%
    let buttons = []
    %>
    <%- include("partials/title.ejs", {title: `Grades`, subtitle: ``,
    buttons: buttons, backName: "Back"}) %>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="card-title"><%= assignment.name %></div>
                        <div class="card-subtitle">Course: <%= course.name %></div>
                    </div>
                    <div>
                        <span>Total Students: <%= course.students.length %></span>
                        <span>Total Submissions: <%= assignment.responses.length %></span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table ">
                        <thead class="">
                        <tr>
                            <th scope="col">Student</th>
                            <th scope="col">Attempts</th>
                            <th scope="col">Final</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% course.students.forEach(student => {
                            let attempts = assignment.responses.filter(resp => resp.student._id.toString() === student._id.toString());
                            let set = attempts.map(attempt => {
                                let index = attempts.findIndex(attempt_ => attempt_ == attempt) + 1;
                                let name = `Attempt ${(index <= 9) ? "0" : ""}${index}${(!attempt.compiled) ? " (Compile Failed)" : (!attempt.passed) ? "(Compile Successful)" : ""}`;
                                return `<a href="/response/${attempt._id}" class="text-${(attempt.passed) ? 'success' : (attempt.signal === "SIGTERM") ? 'warning' : 'danger'}">${name}</a>`
                            });
                        %>
                        <tr>
                            <td><%= student.firstname %> <%= student.lastname %> (<%= student.username %>)</td>
                            <td><%- set.join(", ") %></td>
                            <td><%= (attempts.filter(attempt => (attempt.passed)).length >= 1)?"Passed":"Failed" %>
                                , <%= attempts.length %> attempts
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
