<html>
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4><%= assignment.name %></h4>
            <h6>Due <%= new Date(assignment.duedate).toDateString() %></h6>

            <hr>


            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>

                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Attempts</th>
                    <th scope="col" >Results</th>
                </tr>
                </thead>
                <tbody>

                <% students.forEach(student => {
                    let attempts = assignment.responses.filter(response => response.student._id.toString() == student._id.toString())
                %>
                <tr style="width: 100%;">
                    <td><%= student.firstname %> <%= student.lastname %></td>
                    <td><%= student.username %></td>
                    <td><%= attempts.length %></td>
                    <td>
                        <% attempts.forEach(attempt => {
                            let diff = attempt.outputs.filter(output => output.passed).length;
                            let total = attempt.outputs;
                        %>
                        <a href="/response/<%= attempt._id %>">
                            <span class="badge badge-<%= (attempt.passed) ? 'success' : (attempt.signal === "SIGTERM") ? 'warning' : 'danger' %>">Attempt <%= attempts.findIndex(attempt_ => attempt_ == attempt) + 1 %>
                                <% attempt.outputs.forEach(tst => { %>
                                    <span class="badge badge-<%= (tst.passed === true) ? 'success' : (tst.signal === "SIGTERM") ? 'warning' : 'danger' %>"><%= tst.test.name %></span>
                                <% }) %>
                            </span></a>
                        <% }); %>
                    </td>

                </tr>

                <%
                }); %>

                </tbody>
            </table>

        </div>
    </div>
</div>
</body>

</html>
