<!DOCTYPE html>
<html lang="en" <% if(user != null){ %>data-theme="<%= user.theme %>" <% }else{ %> data-theme="dark" <% } %>>
<%- include("partials/header.ejs"); %>

<body>
  <%- include("partials/nav.ejs"); %>
  <div class="container" style="margin-top:32px;">
    <div class="row">


      <div class="col-md-9">

        <h5 class="text-title">This Week</h5>
        <hr>
        <div class="row" style="padding-right:16px;">
          <% topics.forEach(function(topic){ %>
          <div class="col-md-3">
            <a href="/topic/<%= topic._id %>" class="no-bs">
              <div class="block-article">
                <div class="image" style="background-image: url(<%= topic.picture %>);">
                </div>
                <div class="title">
                  <h5><%= topic.title %></h5>
                  <span class="topic-inline-subtext">
                    <%= topic.owner.username %><% if(topic.owner.account == "admin" || topic.owner.account == "superadmin"){ %>&nbsp;<i class="fas fa-shield-alt"></i> <% } %><br>
                    <%= topic.views %> views &bullet; <%= timeSince(new Date(topic.date)) %> ago
                  </span>

                </div>

              </div>
            </a>
          </div>
          <% }); %>
        </div>

      </div>

      <div class="col-md-3">
        <h5 class="text-title">Trending</h5>
        <hr>
        <% trending.forEach(function(topic){ %>
        <div class="media">
          <div class="mr-3" style="background-image:url(<%= topic.picture %>); background-position: center; background-size: cover; background-repeat: no-repeat; height: 64px; width:64px;" alt="Generic placeholder image"></div>
          <div class="media-body">
            <h5 class="topic-inline-title"><a href="/topic/<%= topic._id %>" class="no-bs"><%= topic.title %></a></h5>
            <span class="topic-inline-subtext">
              <a href="/u/<%= topic.owner.username %>" class="no-bs"><%= topic.owner.username %></a><% if(topic.owner.account == "admin" || topic.owner.account == "superadmin"){ %>&nbsp;<i class="fas fa-shield-alt"></i> <% } %><br>
              <%= topic.views %> views &bullet; <%= timeSince(new Date(topic.date)) %> ago
            </span>

          </div>
        </div>
        <hr>
        <% }); %>
      </div>

    </div>
  </div>


</body>
<%- include("partials/footer.ejs"); %>

</html>

<%
function timeSince(date) {

  var seconds = Math.floor((new Date() - date) / 1000);

  var interval = Math.floor(seconds / 31536000);

  if (interval >= 1) {
    return interval + " years";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval >= 1) {
    return interval + " months";
  }
  interval = Math.floor(seconds / 86400);
  if (interval >= 1) {
    return interval + " days";
  }
  interval = Math.floor(seconds / 3600);
  if (interval >= 1) {
    return interval + " hours";
  }
  interval = Math.floor(seconds / 60);
  if (interval >= 1) {
    return interval + " minutes";
  }
  return Math.floor(seconds) + " seconds";
}
var aDay = 24*60*60*1000


%>
