<html>
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
<div class="container">
    <div class="row">
        <a href="/"><i class="fas fa-chevron-left"></i> Home</a>
        <div class="col-12">
            <h1>Classes</h1>

            <div class="d-flex flex-row justify-content-between">
                <span>Instructor <%= classes[0].instructor.firstname %> <%= classes[0].instructor.lastname %></span>
                <a href="#" class="btn btn-primary btn-sm">New Class</a>
            </div>
            <hr>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Students</th>
                    <th scope="col">Assignments</th>
                </tr>
                </thead>
                <tbody class="">
                <% if(typeof classes != 'undefined'){ classes.forEach(function(clas){ %>
                <tr>

                    <td><%= clas.name %></td>
                    <td><%= clas.students.length %> Students</td>
                    <td>
                        <% clas.assignments.forEach(assignment => { %>
                           <a href="/assignments/grades/<%= assignment._id %>"><span class="badge badge-dark"><%= assignment.name %></span></a>
                        <% }); %>
                    </td>
                    <% }); }else{ %>
                        <td>No classes</td>
                        <td></td>
                        <td></td>
                        <td></td>

                </tr>
                <% } %>

                </tbody>
            </table>

        </div>
    </div>
</div>
</body>

</html>
