<!DOCTYPE html>
<html lang="en" <% if(user != null){ %>data-theme="<%= user.theme %>" <% }else{ %> data-theme="dark" <% } %>>
<%- include("partials/header.ejs"); %>

<body>
  <%- include("partials/nav.ejs"); %>
  <div class="container" style="margin-top:16px;">
    <div class="page-container">
      <h4 class="text-light title">Messenger</h4>
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="margin-bottom:0px;">
            <ul class="list-group">
              <% user.following.forEach(function(person){ %>
              <% let c = (query == person._id)?"active":""; %>
              <li class="list-group-item <%= c %>"><img src="<%= person.picture %>" class="list-image"><a href="/messages/?to=<%= person._id %>" class="drawer-link"><%= person.firstname %> <%= person.lastname %></a></li>
              <% });%>
            </ul>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card" style="">
            <div class="card-head">
              <% if(target != null){ %>
              <span class="card-head-title"><%= target.firstname %> <%= target.lastname %><span class="float-right"><a href="/u/<%= target.username %>" class="no-bs"><i class="fas fa-ellipsis-h"></i></a></span></span>
              <% } %>
            </div>
            <div class="card-body" style="padding:0px;">
              <ul class="msg-body" id="msg-body">
              <% if(messages != null){
                messages.forEach(function(message){
              if(message.from == query){ %>
              <li class="sent"><p><%= message.text %></p></li>
              <% }else{ %>
              <li class="reply"><p><%= message.text %></p></li>
              <%
              }
              });
            }%>

          </ul>
            </div>
          </div>
          <form action="/messages/send/<%= query %>" method="post">
            <div class="input-group mb-3">
              <input type="text" name="text" class="form-control form-msg" placeholder="Message">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Send</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
</body>

</html>
<script>
$(document).ready(function() {
    $('#msg-body').scrollTop($('#msg-body').get(0).scrollHeight);
});
</script>
<%

function timeSince(date) {

  var seconds = Math.floor((new Date() - date) / 1000);

  var interval = Math.floor(seconds / 31536000);

  if (interval >= 1) {
    return interval + " years";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval >= 1) {
    return interval + " months";
  }
  interval = Math.floor(seconds / 86400);
  if (interval >= 1) {
    return interval + " days";
  }
  interval = Math.floor(seconds / 3600);
  if (interval >= 1) {
    return interval + " hours";
  }
  interval = Math.floor(seconds / 60);
  if (interval >= 1) {
    return interval + " minutes";
  }
  return Math.floor(seconds) + " seconds";
}
var aDay = 24*60*60*1000
%>
