<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<body class="preload">
<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters">
        <div class="col-md-2 pr-2">
            <%- include("partials/sidebar.ejs") %>
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                <%
                let buttons = [` `];
                %>
                <%- include("partials/title.ejs", {title: "New Assignment", subtitle: `<a href="/">Dashboard</a> / <a href="/assignments">Assignments</a> / New Assignment`,
                buttons: buttons, backName: "Courses", backLink: "/courses"}); %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card g-flex justify-content-between">
                            <div class="card-title">Create Assignment</div>
                            <div class="card-subtitle">You will be able to make changes before assigning.</div>
                            <form action="/assignments/new" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Assignment name</label>
                                            <input type="text" class="form-control" name="assignmentName"
                                                   placeholder="Name">
                                            <small class="text-muted">Duplicate names are allowed but not
                                                recommended.</small>
                                        </div>
                                        <div class="form-group">
                                            <label>Course</label>
                                            <select class="form-control" name="assignmentClass">
                                                <% courses.forEach(function(course){ %>
                                                    <option value="<%= course._id %>"><%= course.name %></option>
                                                <% }); %>
                                            </select>
                                            <small class="text-muted">Only courses you own are shown</small>
                                        </div>
                                        <div class="form-group">
                                            <label>Make command</label>
                                            <input type="text" class="form-control" name="makeCommand"
                                                   placeholder="g++ lab1.cpp">
                                            <small class="text-muted">Can be any bash/zsh command</small>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Due date</label>
                                            <input type="date" class="form-control" name="assignmentDueDate"
                                                   placeholder="Date">
                                            <small class="text-muted">Late assignments will be accepted but flagged as
                                                late</small>
                                        </div>
                                        <div class="form-group">
                                            <label>Late due date</label>
                                            <input type="date" class="form-control" name="assignmentLateDueDate"
                                                   placeholder="Date">
                                            <small class="text-muted">Absolute cutoff for assignments</small>
                                        </div>
                                        <div class="form-group">
                                            <label>&nbsp;</label><br>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-primary">Continue to tests</button>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <small class="text-muted pt-1">You will complete the next part on
                                                    another page</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
