<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<body>
<style>
    .str {
        text-decoration: line-through;
    }
</style>
<div class="container">
    <%
    let buttons = [];
    %>
    <%- include("partials/title.ejs", {title: `${response.assignment.name} - ${output.test.name}`, subtitle: `<strong>Exit Code:</strong> ${output.exit} <strong>Signal:</strong> ${output.signal} <strong>Submit:</strong> ${new Date(response.date).toLocaleString()} <strong>Errors:</strong> ${output.error_type}`,
    buttons: buttons, backName: "Back", backLink: back}) %>
    <div class="row">
        <div class="col-12">
            <h5>Standard output</h5>
            <div class="card">
                <div class="d-flex" style="">
                    <div class="m-3 flex-fill">
                        <strong>Expected Output</strong><br>
                        <% output.test.outputs.forEach((ln) => { %>
                            <code><%= ln %></code><br>
                        <% }); %>
                    </div>
                    <div class="m-3 flex-fill">
                        <strong>Submission Output</strong><br>
                        <% JSON.parse(output.diff).forEach((ln) => { %>
                            <% ln.forEach((pt) => { if(!pt.added) { %>
                                <code class="<%= (pt.added) ? "diff-add" : (pt.removed) ? "diff-remove" : "" %>"><%= pt.value %></code>
                                <br>
                            <% }else{ %>
                                <code class="diff-add"> No output </code><br>
                            <% } }); %>
                        <% }); %>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <h5>Standard error output</h5>
            <div class="card">
                <div class="d-flex" style="">
                    <div class="m-3 flex-fill">
                        <strong><%= output.test.name %>.err</strong><br>
                        <% output.test.error.forEach((ln) => { %>
                            <%= ln %>
                        <% }); %>
                    </div>
                    <div class="m-3 flex-fill">
                        <strong><%= output.test.name %>.myerr</strong><br>
                        <% JSON.parse(output.error_diff).forEach((ln) => { %>
                            <% ln.forEach((pt) => { %>
                                <span class="<%= (pt.added) ? "text-success" : (pt.removed) ? "text-danger str" : "" %>"><%= pt.value %></span>
                            <% }); %>
                        <% }); %>
                    </div>


                </div>
            </div>

        </div>


    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
