<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<body>
<style>
    .str {
        text-decoration: line-through;
    }
</style>
<div class="container">
    <%
    let buttons = [];
    %>
    <%- include("partials/title.ejs", {title: `${response.assignment.name} - ${output.test.name}`,
    subtitle: `<strong>Exit Code:</strong> ${output.exit} <strong>Signal:</strong> ${output.signal} <strong>Submit:</strong> ${new Date(response.date).toLocaleString()} <strong>Errors:</strong> ${(output.error_type.length >= 1)?output.error_type:"None"}`,
    buttons: buttons, backName: "Back", backLink: back}) %>
    <% if(!output.error_type.includes("stdout") && !output.error_type.includes("stderr") && !output.error_type.includes("exit") && !output.error_type.includes("loop") && !output.error_type.includes("exec")){ %>
        <span class="text-success">Program passed all tests and had no issues.</span>
    <% } %>
    <% if(output.error_type.includes("exit")){ %>
        <div class="row">
            <div class="col-12">
                <h5>Exit Code</h5>
                <div class="card pl-3 p-2">
                    <p>Your program outputted the exit code <strong><%= output.exit %></strong>, this test requires the
                        exit code <strong><%= output.test.code %></strong></p>
                </div>
            </div>
        </div>
        <br>
    <% } %>
    <% if(output.error_type.includes("stdout")){ %>
        <div class="row">
            <div class="col-12">
                <h5>Standard output</h5>
                <div class="card">
                    <table class="ml-3 m-2">
                        <tr>
                            <th><strong>Expected Output</strong></th>
                            <th><strong>Program Output</strong></th>
                        </tr>
                        <tr>
                            <th class="w-50">
                                <% output.test.outputs.forEach((ln) => { %>
                                    <code><%= ln %></code><br>
                                <% }); %>
                            </th>
                            <th class="w-50">
                                <% JSON.parse(output.diff).forEach((ln) => { %>
                                    <% if(!ln.removed){ %>
                                        <% ln.value.forEach((pt) => { %>
                                            <code class="text-<%= (ln.added)?"danger":"warning" %>"><%= pt %></code><br>
                                        <% }); %>
                                    <% } %>
                                <% }); %>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <br>
    <% } %>
    <% if(output.error_type.includes("stderr")){ %>
        <div class="row">
            <div class="col-12">
                <h5>Error output</h5>
                <div class="card">
                    <table class="ml-3 m-2">
                        <tr>
                            <th><strong>Expected Output</strong></th>
                            <th><strong>Program Output</strong></th>
                        </tr>
                        <tr>
                            <th class="w-50">
                                <% output.test.error.forEach((ln) => { %>
                                    <code><%= ln %></code><br>
                                <% }); %>
                            </th>
                            <th class="w-50">
                                <% JSON.parse(output.error_diff).forEach((ln) => { %>
                                    <% if(ln.removed){ %>
                                        <% ln.value.forEach((pt) => { %>
                                            <code class="text-<%= (ln.added)?"danger":"info" %>"><%= pt %></code><br>
                                        <% }); %>
                                    <% } %>
                                <% }); %>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <% } %>
</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
