<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<link href="/css/prism.css" rel="stylesheet"/>
<style>
    .card {
        margin-bottom: 1.5em;
    }
</style>
<body>
<div class="container">
    <%
    let buttons = [`<a href="/submit/${result.assignment._id}">Submit again</a>`]
    %>
    <%- include("partials/title.ejs", {title: `Submission Results`, subtitle: `Submission ${(result.passed) ? "passed" : "failed"}`,
    buttons: buttons, backName: "Back", backLink: back}) %>
    <div class="row">
        <% if(!result.compiled){ %>
            <div class="col-8">
                <div class="card p-2 pl-3 mb-0 border-danger alert alert-danger">
                    <span><strong>Failed</strong>&nbsp;Your program did not compile. Tests could not be completed.</span>
                </div>
                <br>
                <div class="card">
                    <div class="card-title">Standard Output</div>
                    <div class="card-subtitle">The server used to test the program</div>
                    <pre class="language-cpp line-numbers m-0 pt-0 ml-0"
                         style="padding-left: 3.2em;"><code><%- (result.stdout) ? result.stdout.join("\n") : "none" %></code></pre>
                </div>

                <div class="card">
                    <div class="card-title">Error Output</div>
                    <div class="card-subtitle">The server used to test the program</div>
                    <pre class="language-cpp line-numbers m-0 pt-0"
                         style="padding-left: 3.2em;"><code><%- (result.stderr) ? result.stderr.slice(0, (result.stderr.length >= 20) ? 20 : result.stderr.length).join("\n") : "none" %><%= (result.stderr.length <= 20)?"":`\n+ ${result.stderr.length - 16} more lines` %></code></pre>
                </div>
            </div>
        <% }else{ %>
            <div class="col-8">
                <div class="card">
                    <div class="card-title">Tests</div>
                    <div class="card-subtitle">Results of all test outputs</div>
                    <% result.outputs.forEach(function(test){ let pass = test.error_type.length < 1; %>
                    <a href="/response/output/<%= test._id %>" class="no-bs">
                        <div class="card p-2 pl-3 m-0 mb-1 border-<%= (pass) ? "success" : "danger" %> d-flex flex-row justify-content-between alert alert-<%= (pass) ? "success" : "danger" %>">
                        <span class=""><strong><%= test.test.name %></strong>
                            <% if(!pass){ %>
                                <%= test.error_type.map(err => {
                                    return (err.includes("loop"))
                                            ? "Infinite Loop; Program Terminated" : (err.includes("stdout"))
                                                    ? "Incorrect Output" : (err.includes("stderr"))
                                                            ? "Incorrect Error" : (err.includes("exit"))
                                                                    ? "Incorrect Exit Code" : "Like idk";
                                }).join(", "); %>
                            <% }else{ %>
                                Test Passed
                            <% } %>
                        </span>
                            <span class="">Click to view results</span>
                        </div>
                    </a>
                    <% }); %>
                </div>
                <div class="card" style="margin-top: 1.5em;">
                    <div class="card-title">Standard Output</div>
                    <div class="card-subtitle">The server used to test the program</div>
                    <pre class="language-cpp line-numbers m-0 pt-0 ml-0"
                         style="padding-left: 3.2em;"><code><%- (result.stdout) ? result.stdout.join("\n") : "none" %></code></pre>
                </div>
            </div>
        <% } %>
        <div class="col-md-4">
            <div class="card m-0 p-0">
                <div style="padding:16px; padding-bottom: 0;">
                    <div class="card-title">Files</div>
                    <div class="card-subtitle mb-0">All uploaded files</div>
                </div>
                <ul class="list-group list-group-flush mb-1">
                    <% result.files.forEach(file => { %>
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <i class="far fa-file-code mr-1"></i>
                                <a href="/file/<%= file._id %>"><%= file.name %></a>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <br>
            <div class="card m-0 p-0">
                <div style="padding:16px; padding-bottom: 0;">
                    <div class="card-title">Information</div>
                    <div class="card-subtitle">Details about the program's test results</div>
                </div>
                <ul class="list-group list-group-flush mb-1">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Command:</span>
                        <%= result.assignment.command %>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Signal:</span>
                        <%= (result.signal) ? result.signal : "none" %>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Exit Code:</span>
                        <%= result.exit %>
                    </li>
                </ul>


            </div>
            <br>
            <div class="card">
                <div>
                    <div class="card-title">Server</div>
                    <div class="card-subtitle">The server used to test the program</div>
                </div>
                <span class="m-1"><%= result.debug_server %>:<%= result.debug_node %>:<%= result.debug_instance %></span>
            </div>
        </div>

    </div>

</div>
</body>
<script src="/js/prism.js"></script>
<%- include("partials/footer.ejs") %>
</html>
