<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2><%= result.assignment.name %></h2>
            <span class="<%= (result.passed) ? "text-success" : "text-danger" %>">Tests <%= (result.passed) ? "passed" : "failed" %></span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Test</th>
                    <th scope="col">Status</th>
                    <th scope="col">Note</th>
                    <th scope="col">Lines</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                <% result.outputs.forEach(function(test){ %>
                <tr>

                    <td><%= test.test.name %></td>
                    <td>
                        <span class="<%= (test.passed) ? "text-success" : "text-danger" %>"><%= (test.passed) ? "Passed" : "Failed" %></span>
                    </td>
                    <td><%= (test.signal === "SIGTERM")?"Infinite Loop; process killed.":"None" %></td>
                    <td></td>
                    <td><a href="/response/output/<%= test._id %>">View test</a></td>

                    <% }); %>

                </tbody>
            </table>
        </div>


        <div class="col-6">

            <h4>Info</h4>
            <hr>
            <p>Make Command:&nbsp; <code><%= result.assignment.command %></code></p>
            <p>Compiler:</p>
            <p>&nbsp;signal:&nbsp; <code><%= (result.status)?result.signal:"none" %></code></p>
            <p>&nbsp;exit code:&nbsp; <code><%= result.exit %></code></p>
            <p>&nbsp;stderr:&nbsp; <code><%= (result.stderr)?result.stderr:"no errors" %></code></p>
            <p>&nbsp;stdout:&nbsp; <code><%= (result.stdout)?result.stdout:"no output" %></code></p>
        </div>

    </div>

</div>
</body>

</html>
