<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<body>
<div class="container">
    <%
    let buttons = [`<a href="/submit/${result.assignment._id}">Submit again</a>`]
    %>
    <%- include("partials/title.ejs", {title: `Submission Results`, subtitle: `Submission ${(result.passed) ? "passed" : "failed"}`,
    buttons: buttons, backName: "Back", backLink: back}) %>
    <div class="row">
        <% if(!result.compiled){ %>
            <div class="col-8">
                <div class="card p-2 pl-3 m-1 border-danger alert alert-danger">
                    <span><strong>Failed</strong>&nbsp;Your program did not compile. Tests could not be completed.</span>
                </div>
                <br>
                <h4 class="ml-1">Compiler output</h4>
                <div class="card p-2 pl-3 m-1">
                    <strong>Standard Output:</strong>
                    <code><%- (result.stdout) ? result.stdout.join("\n") : "none" %></code><br>
                    <strong>Error Output:</strong>
                    <code><%- (result.stderr) ? result.stderr.slice(0, (result.stderr.length >= 16)?16:result.stderr.length).join("\n") : "none" %><%= (result.stderr.length <= 16)?"":`\n+ ${result.stderr.length-16} more lines` %></code>
                </div>
            </div>
        <% }else{ %>
            <div class="col-8">
                <div class="d-flex justify-content-between">
                    <h4 class="">Tests</h4>
                </div>
                <% result.outputs.forEach(function(test){ let pass = test.error_type.length < 1; %>
                <a href="/response/output/<%= test._id %>" class="no-bs">
                    <div class="card p-2 pl-3 m-1 border-<%= (pass) ? "success" : "danger" %> d-flex flex-row justify-content-between alert alert-<%= (pass) ? "success" : "danger" %>">
                        <span class=""><strong><%= test.test.name %></strong>
                            <% if(!pass){ %>
                                <%= test.error_type.map(err => {
                                    return (err.includes("loop"))
                                            ? "Infinite Loop; Program Terminated" : (err.includes("stdout"))
                                                    ? "Incorrect Output" : (err.includes("stderr"))
                                                            ? "Incorrect Error" : (err.includes("exit"))
                                                                    ? "Incorrect Exit Code" : "Like idk";
                                }).join(", "); %>
                            <% }else{ %>
                                Test Passed
                            <% } %>
                        </span>
                        <span class="">Click to view results</span>
                    </div>
                </a>
                <% }); %>
            </div>
        <% } %>
        <div class="col-md-4">
            <div class="d-flex justify-content-between">
                <h4 class="">Files</h4>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th scope="col">Filename</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% result.files.forEach(file => { %>
                        <tr>
                            <td><a href="/file/<%= file._id %>"><%= file.name %></a></td>
                        </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between">
                <h4 class="">Compiler Info</h4>
            </div>
            <div class="card p-2 pl-3">
                <strong>Command:</strong>
                <span><%= result.assignment.command %></span>
                <strong>Arguments:</strong>
                <span><%= (result.signal) ? result.signal : "none" %></span>
                <strong>Termination Signal:</strong>
                <span><%= (result.signal) ? result.signal : "none" %></span>
                <strong>Exit Code:</strong>
                <span><%= result.exit %></span>
            </div><br>
            <h4 class="">Debug Info</h4>
            <div class="card p-2 pl-3">
                <strong>Test Server:</strong>
                <span><%= result.debug_server %>:<%= result.debug_node %>:<%= result.debug_instance %></span>
            </div>
        </div>

    </div>

</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
