<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<body>
<div class="container">
    <%
    let buttons = [`<a href="/submit/${result.assignment._id}">Submit again</a>`]
    %>
    <%- include("partials/title.ejs", {title: `Submission Results`, subtitle: `Submission ${(result.passed) ? "passed" : "failed"}`,
    buttons: buttons, backName: "Back", backLink: back}) %>
    <div class="row">
        <div class="col-8">
            <div class="d-flex justify-content-between">
                <h4 class="">Tests</h4>
            </div>
            <% result.outputs.forEach(function(test){ %>
                <a href="/response/output/<%= test._id %>" class="no-bs">
                    <div class="card p-2 pl-3 m-1 border-<%= (test.passed) ? "success" : "danger" %> d-flex flex-row justify-content-between alert alert-<%= (test.passed) ? "success" : "danger" %>">
                        <span class=""><strong><%= test.test.name %></strong>
                        &nbsp;<%= (test.passed) ? "Program passed test" : (test.signal === "SIGTERM") ? "Infinite loop produced; program terminated" : "Unexpected output" %>
                        </span>
                        <span class="">Click to view results</span>
                    </div>
                </a>
            <% }); %>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-between">
                <h4 class="">Files</h4>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th scope="col">Filename</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% result.files.forEach(file => {
                    %>
                        <tr>
                            <td><a href="/file/<%= file._id %>"><%= file.name %></a></td>
                        </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between">
                <h4 class="">Make</h4>
            </div>
            <div class="card p-2 pl-3">
                <strong>Command:</strong>
                <span><%= result.assignment.command %></span>
                <strong>Signal:</strong>
                <span><%= (result.signal)?result.signal:"none" %></span>
                <strong>Code:</strong>
                <span><%= result.exit %></span>
                <strong>Standard output:</strong>
                <span><%= (result.stdout)?result.stdout:"none" %></span>
                <strong>Standard error:</strong>
                <span><%= (result.stderr)?result.stderr:"none" %></span>
                <br>
                <strong>API Server:</strong>
                <span><%= result.debug_server %>:<%= result.debug_node %>:<%= result.debug_instance %></span>
            </div>
        </div>

    </div>

</div>
</body>
<%- include("partials/footer.ejs") %>
</html>
