<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<body>
<div class="container">
    <div class="row">
        <a href="/"><i class="fas fa-chevron-left"></i> Home</a>
        <div class="col-12">
            <h2><%= result.assignment.name %></h2>
            <div class="d-flex justify-content-between">
                <span class="text-<%= (result.passed) ? "success" : "danger" %>">Submission <%= (result.passed) ? "passed" : "failed" %></span>
                <a href="/submit/<%= result.assignment._id %>" class="btn btn-primary btn-sm">Submit again</a>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h5>Tests</h5>
            <% result.outputs.forEach(function(test){ %>
                <a href="/response/output/<%= test._id %>" class="no-bs">
                    <div class="card p-2 pl-3 m-1 border-<%= (test.passed) ? "success" : "danger" %> d-flex flex-row justify-content-between alert alert-<%= (test.passed) ? "success" : "danger" %>">
                        <span class=""><strong><%= test.test.name %></strong>
                        &nbsp;<%= (test.passed) ? "Program passed test" : (test.signal === "SIGTERM") ? "Infinite loop produced; program terminated" : "Unexpected output" %>
                        </span>
                        <span class="">Click to view results</span>
                    </div>
                </a>
            <% }); %>
        </div>
        <div class="col-8">
            <hr>
            <h5>Make Compile</h5>
            <div class="card p-2 pl-3 m-1">
                <strong>Command:</strong>
                <span><%= result.assignment.command %></span>
                <strong>Signal:</strong>
                <span><%= (result.signal)?result.signal:"none" %></span>
                <strong>Code:</strong>
                <span><%= result.exit %></span>
                <strong>Standard output:</strong>
                <span><%= (result.stdout)?result.stdout:"none" %></span>
                <strong>Standard error:</strong>
                <span><%= (result.stderr)?result.stderr:"none" %></span>
                <br>
                <strong>Debug:</strong>
                <span><%= result.debug_server %>:<%= result.debug_node %>:<%= result.debug_instance %></span>
            </div>
        </div>
    </div>

</div>
</body>

</html>
