<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<link href="/css/prism.css" rel="stylesheet"/>
<style>
    .card {
        margin-bottom: 1.5em;
    }
</style>
<body class="preload">
<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters">
        <div class="col-md-2 pr-2">
            <%- include("partials/sidebar.ejs") %>
        </div>
        <div class="col-md-10">

            <div class="container-fluid">
                <%
                let buttons = [`<a href="/submit/${result.assignment._id}">Submit again</a>`];
                let attempts = result.assignment.responses.filter(response => response.student.toString() === user._id.toString()).length
                %>
                <%- include("partials/title.ejs", {title: `Submission Results`, subtitle: `<a href="/">Dashboard</a> / <a href="/assignments">Assignments</a> / <a href="/submit/${result.assignment._id}">${result.assignment.name}</a> / Attempt ${attempts} - ${(result.passed)?"Passed":"Failed"}`,
                buttons: buttons, backName: "Back", backLink: back}) %>
                <div class="row">
                    <% if(!result.compiled){ %>
                        <div class="col-8">
                            <div class="card pl-3 py-2">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span><i class="fas fa-times text-danger mr-2"></i></span>
                                        <span>Failed</span>
                                    </div>
                                    <div class="text-muted">
                                        Your program did not compile. Tests could not be completed.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-title">Standard Output</div>
                                <div class="card-subtitle">The program's standard output</div>
                                <div class="scroll-box">
                    <pre class="language-cpp line-numbers m-0 pt-0 ml-0"
                         style="padding-left: 3.2em;"><code><%- (result.stdout) ? result.stdout.join("\n") : "none" %></code></pre>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-title">Error Output</div>
                                <div class="card-subtitle">The program's error output</div>
                                <div class="scroll-box">
                    <pre class="language-cpp line-numbers m-0 pt-0"
                         style="padding-left: 3.2em;"><code><%- (result.stderr) ? result.stderr.join("\n") : "none" %>
                            %>
                        </code></pre>
                                </div>
                            </div>
                        </div>
                    <% }else{ %>
                        <div class="col-8">
                            <div class="card">
                                <div class="card-title">Tests</div>
                                <div class="card-subtitle">Results of all test outputs</div>
                                <div class="scroll-box">
                                    <% result.outputs.forEach(function(test){ let pass = test.error_type.length < 1; %>

                                    <a href="/response/output/<%= test._id %>" class="no-bs">
                                        <div class="card pl-3 py-2 mb-2">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <span><i class="text-<%= (pass) ? "success" : "danger" %> far fa-dot-circle mr-2"></i></span>
                                                    <span><%= test.test.name %></span>

                                                </div>
                                                <div class="text-muted">
                                                    <% if(!pass){ %>
                                                        <%= test.error_type.map(err => {
                                                            return (err.includes("loop"))
                                                                    ? "Infinite Loop; Program Terminated" : (err.includes("stdout"))
                                                                            ? "Incorrect Output" : (err.includes("stderr"))
                                                                                    ? "Incorrect Error" : (err.includes("exit"))
                                                                                            ? "Incorrect Exit Code" : "Like idk";
                                                        }).join(", "); %>
                                                    <% }else{ %>
                                                        Test Passed
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="card" style="margin-top: 1.5em;">
                                <div class="card-title">Standard Output</div>
                                <div class="card-subtitle">The compiler output</div>
                                <div class="scroll-box">
                    <pre class="language-cpp line-numbers m-0 pt-0 ml-0"
                         style="padding-left: 3.2em;"><code><%- (result.stdout) ? result.stdout.join("\n") : "none" %></code></pre>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <div class="col-md-4">
                        <div class="card m-0 p-0">
                            <div style="padding:16px; padding-bottom: 0;" class="d-flex justify-content-between">
                                <div>
                                    <div class="card-title">Files</div>
                                    <div class="card-subtitle mb-0">All uploaded files</div>
                                </div>
                                <div>
                                    <a href="#" data-toggle="modal" data-target="#quickEdit">Quick Edit</a>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush mb-1">
                                <% result.files.forEach(file => { %>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <i class="far fa-file-code mr-1"></i>
                                            <a href="/file/<%= file._id %>"><%= file.name %></a>
                                        </div>

                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                        <br>
                        <div class="card m-0 p-0">
                            <div style="padding:16px; padding-bottom: 0;">
                                <div class="card-title">Information</div>
                                <div class="card-subtitle">Details about the program's test results</div>
                            </div>
                            <ul class="list-group list-group-flush mb-1">
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Command:</span>
                                    <%= result.assignment.command %>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Compile Time:</span>
                                    <%= result.compile_time %>ms
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Signal:</span>
                                    <%= (result.signal) ? result.signal : "none" %>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Exit Code:</span>
                                    <%= result.exit %>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="card">
                            <div>
                                <div class="card-title">Server</div>
                                <div class="card-subtitle">The server used to test the program</div>
                            </div>
                            <span class="m-1"><%= result.debug_server %>:<%= result.debug_node %></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="quickEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content border-danger">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quick Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action will replace your current workspace. Would you like to continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <a href="/workspace/quickedit/<%= result._id %>" class="btn btn-danger">Proceed</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/prism.js"></script>
</html>
