<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>
<%- include("partials/nav") %>
<body class="preload">
<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters">
        <div class="col-md-2 pr-2">
            <%- include("partials/sidebar.ejs") %>
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                <%
                let buttons = [``]
                %>
                <%- include("partials/title.ejs", {title: "Submit", subtitle: `Upload your assignment to be graded`,
                buttons: buttons, backName: "Home", backLink: "/"}) %>
                <div class="row">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-title"><%= assignment.name %></div>
                            <div class="d-flex justify-content-between">
                <span class="card-subtitle">There <%= (assignment.tests.length == 1) ? "is" : "are" %> <%= assignment.tests.length %> test<%= (assignment.tests.length == 1) ? "" : "s" %>.
                  </span>
                            </div>
                            <form method="post" id="files" action="/submit/<%= assignment._id %>"
                                  enctype="multipart/form-data">
                                <% assignment.files.forEach(file => { %>
                                    <div class="d-flex justify-content-between mb-2">
                                <span class="w-50 mt-1 align-self-center">
                                    <label for="exampleInputEmail1"
                                           style="word-wrap: break-word; max-width: 100%;"><%= file %></label>
                                </span>&nbsp;
                                        <div class="input-group align-self-center">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="image"
                                                       id="inputGroupFile01">
                                                <label class="custom-file-label"
                                                       for="inputGroupFile01" id="inputGroupFile01Label">No file
                                                    selected...</label>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                                <br>
                                <button type="submit" id="sendIt" class="btn btn-primary float-right">Submit</button>
                            </form>

                        </div>


                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-title">Upload bulk</div>
                            <span class="card-subtitle">Drag and drop all files with the correct names</span>
                            <form method="post" id="bulk" action="/submit/<%= assignment._id %>"
                                  enctype="multipart/form-data">
                                <div class="input-group align-self-center">
                                    <div class="custom-file">
                                        <input type="file" multiple class="custom-file-input" name="image"
                                               id="inputGroupFile01">
                                        <label class="custom-file-label"
                                               for="inputGroupFile01" id="inputGroupFile01Label">No file
                                            selected...</label>
                                    </div>
                                </div>
                                <br>
                                <button type="submit" id="bulksendIt" class="btn btn-primary float-right">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $('#files').submit(function () {
        $('#sendIt').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Grading...`);
    });
    $('input[type="file"]').change((e) => {
        $(e.target).siblings("#inputGroupFile01Label").text(e.target.files[0].name);
    });
    $('#bulk').submit(function () {
        $('#bulksendIt').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Grading...`);
    });
</script>
</html>
