<html>
<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<link href="/css/prism.css" rel="stylesheet"/>
<style>
    .card {
        margin-bottom: 1.5em;
    }
</style>
<body class="preload">
<div class="container">
    <%
    let buttons = [];
    %>
    <%- include("partials/title.ejs", {title: test.name, subtitle: `<strong>Command:</strong> ${(!test.cmd)?'Not specified':test.cmd} <strong>Exit Code:</strong> ${test.code}`,
    buttons: buttons, backName: "Back", backLink: back}) %>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-title"><%= test.name %>.in</div>
                <div class="card-subtitle mb-0">The input given to the program</div>
                <pre class="language-txt line-numbers"><code><%= test.inputs.join("\n") %></code></pre>
            </div>
        </div>
        <% if(test.provided.includes("out")){ %>
            <div class="col-12">
                <div class="card">
                    <div class="card-title"><%= test.name %>.out</div>
                    <div class="card-subtitle mb-0">Program's expected output</div>
                    <pre class="language-txt line-numbers"><code><%= test.outputs.join("\n") %></code></pre>
                </div>
            </div>
        <% } %>
        <% if(test.provided.includes("err")){ %>
            <div class="col-12">
                <div class="card">
                    <div class="card-title"><%= test.name %>.err</div>
                    <div class="card-subtitle mb-0">Program's expected output</div>
                    <pre class="language-txt line-numbers"><code><%= test.error.join("\n") %></code></pre>
                </div>
            </div>
        <% } %>
    </div>
</div>
</body>
<script src="/js/prism.js"></script>
<%- include("partials/footer.ejs") %>
</html>
