<!DOCTYPE html>
<html lang="en" <% if(user != null){ %>data-theme="<%= user.theme %>" <% }else{ %> data-theme="dark" <% } %>>
<%- include("partials/header.ejs"); %>

<body>
  <%- include("partials/nav.ejs"); %>
  <div class="container" style="margin-top:32px;">
    <div class="row">

      <div class="col-md-2"></div>
      <div class="col-md-8">
        <% if(!topic.published){ %>
        <div class="alert alert-warning">
          <strong>Warning!</strong> This article has not been published yet. Sharing this article link will breach contract.
        </div>
        <% } %>
        <div class="topic">
          <div class="topic-element" style="text-align:center;">
            <span class="topic-title"><i><%= topic.title %></i></span>
          </div>
          <div class="topic-image-full" style="background-image: url(<%= topic.picture %>);">
          </div>
          <div class="topic-element" style="margin-top:8px; margin-bottom:8px;">
            <span class="topic-subtext">written by <strong><a href="/u/<%= topic.owner.username %>" class="no-bs"><%= topic.owner.username %></a></strong></span>
            <span class="topic-subtext">Last updated <strong><%= new Date(topic.date).toLocaleString()  %></strong></span>
          </div>
          <br>
          <div class="topic-preview">
            <span class="topic-preview-text"><%- topic.body %></span>
          </div>
          <div class="topic-options">
            <ul class="list-inline">
              <li><a href="#" class="list-inline-item disabled"><%= topic.views %>&nbsp;Views</a></li>
              <li><a href="#" class="list-inline-item disabled"><i class="fas fa-comment"></i>&nbsp;&nbsp;<%= comments.length %>&nbsp;Comments</a></li>
              <li><a href="#" class="list-inline-item"><i class="fas fa-share"></i>&nbsp; Share</a></li>
              <%
              if(user != null){
              var k = false;
              user.saved.forEach(function(save){
                if(save._id.toString() == topic._id.toString()){
                  k = true;
                }
              }); %>

              <% if(k){ %>
              <li><a href="/topic/<%= topic._id %>/unsave" class="list-inline-item"><i class="fas fa-bookmark"></i>&nbsp; Unsave</a></li>
              <% }else{ %>
              <li><a href="/topic/<%= topic._id %>/save" class="list-inline-item"><i class="far fa-bookmark"></i>&nbsp; Save</a></li>
              <% } %>
              <% if(topic.owner._id.toString() == user._id.toString()){ %>
              <li><a href="/topic/edit/<%= topic._id %>" class="list-inline-item"><i class="far fa-edit"></i>&nbsp; Edit</a></li>
              <% } %>
              <% } %>
            </ul>
          </div>
          <div class="topic-comments">
            <h5>Comments (<%= comments.length %>)</h5>
            <% if(user != null){ %>
            <form action="/topic/<%= topic._id %>/comment" method="post">
              <div class="input-group mb-3">
                <input type="text" name="text" class="form-control form-msg" placeholder="Comment">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Send</button>
                </div>
              </div>
            </form>
            <% } %>
            <ul>
              <% comments.forEach(function(comment){ %>
              <li class="comment">
                <div class="comment-inline">
                  <span class="title"><a href="/u/<%= comment.user.username %>" class="no-bs"><%= comment.user.username %></a></span>
                </div>
                <span class="sub-title">posted <strong><%= timeSince(new Date(comment.date)) %></strong> ago</span>
                <p><%= comment.text %></p>
              </li>
              <% }); %>
              <% if(comments.length <= 0){ %>
              <li class="comment">
                <span class="title">No comments</span>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
</body>

</html>

<%

function timeSince(date) {

  var seconds = Math.floor((new Date() - date) / 1000);

  var interval = Math.floor(seconds / 31536000);

  if (interval >= 1) {
    return interval + " years";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval >= 1) {
    return interval + " months";
  }
  interval = Math.floor(seconds / 86400);
  if (interval >= 1) {
    return interval + " days";
  }
  interval = Math.floor(seconds / 3600);
  if (interval >= 1) {
    return interval + " hours";
  }
  interval = Math.floor(seconds / 60);
  if (interval >= 1) {
    return interval + " minutes";
  }
  return Math.floor(seconds) + " seconds";
}
var aDay = 24*60*60*1000
%>
